@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="3" DisableGutters>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-row align-content-center ">
            <MudIconButton Icon="@Icons.Material.Filled.Home" Href="/" Class="p-1 mr-2" Color="Color.Inherit" Edge="Edge.End" />
            <MudLink Href="/projects" Typo="Typo.h5" Class="ml-5" Style="@($"color: white !important;")">Projects</MudLink>
            <MudLink Href="/drag" Typo="Typo.h5" Class="ml-5" Style="@($"color: white !important;")">Drag & Drop</MudLink>
            <MudLink Href="/canvas" Typo="Typo.h5" Class="ml-5" Style="@($"color: white !important;")">Canvas</MudLink>
            <MudLink Href="/interop" Typo="Typo.h5" Class="ml-5" Style="@($"color: white !important;")">Interop</MudLink>
            <MudSpacer />
            <MudIconButton Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/efevans" Class="p-1" Color="Color.Inherit" Edge="Edge.End" />
        </MudContainer>
    </MudAppBar>
    <MudMainContent>
        <MudContainer Class="py-4" MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
