@using Balzor8WebApp.Client.Pages
<MudPaper Class="d-flex align-start pl-4 pr-2 pt-2 gap-4" MinHeight="48px" Square="true" Elevation="0">
    <MudText>@EffectItem.Effect.Name</MudText>
    <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Style="width: 40%;">
        @foreach (var option in EffectItem.Effect.Options)
        {
            <div class="border-separated-list">
                @if (option.InputType == ArtCanvas.CanvasEffectOptionInputType.Slider)
                {
                    <MudSlider ValueChanged="(int val) => { OnValueChanged(option, val); }" Value="@option.Value" Min="@option.MinValue" Max="@option.MaxValue" TickMarks="true" Step="1" ValueLabel="true">@option.Name.ToLower()</MudSlider>
                }
                else if (option.InputType == ArtCanvas.CanvasEffectOptionInputType.Checkbox)
                {
                    <MudCheckBox ValueChanged="(bool val) => { OnValueChanged(option, val); }" Value="@option.BinaryValue" Label="@option.Name.ToLower()" LabelPosition="LabelPosition.Start" Color="Color.Primary"></MudCheckBox>
                }
            </div>
        }
    </MudStack>
    <MudSpacer />
    <MudCheckBox ValueChanged="(bool val) => { OnEnableToggled(val); }" Value="EffectItem.Effect.Enabled" Color="Color.Secondary"></MudCheckBox>
    <MudIcon Size=Size.Small Icon="@Icons.Material.Filled.DragIndicator" Class="ml-2" @onmousedown="OnHandleMouseDown" @onmouseup="OnHandleMouseUp" Title="Drag" />
</MudPaper>

@code {
    [Parameter]
    [EditorRequired]
    public ArtCanvas.EffectItem EffectItem { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public Action OnValueChangedCallback { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public Action OnDragStateChangedCallback { get; set; } = null!;

    private bool Enabled { get; set; } = true;

    private void OnEnableToggled(bool newValue)
    {
        EffectItem.Effect.Enabled = newValue;
        OnValueChangedCallback();
    }

    private void OnValueChanged(ArtCanvas.CanvasEffectOption option, int newValue)
    {
        option.Value = newValue;
        OnValueChangedCallback();
    }

    private void OnValueChanged(ArtCanvas.CanvasEffectOption option, bool newValue)
    {
        option.BinaryValue = newValue;
        OnValueChangedCallback();
    }

    private void OnHandleMouseUp(MouseEventArgs _)
    {
        EffectItem.Draggable = false;
        OnDragStateChangedCallback();
    }

    private void OnHandleMouseDown(MouseEventArgs _)
    {
        EffectItem.Draggable = true;
        OnDragStateChangedCallback();
    }
}
